SetEnv varName varValue

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /DettacheestoreSB/htdocs/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /DettacheestoreSB/htdocs/index.php [L]
</IfModule>

# END WordPress
